.body {
    width: 100%;
    .content{
        padding: 0 110px 0 110px;
        .calculateSide{
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        }   
        
    }

}