.body {
    width: 100%;
    .content {
        padding: 0 110px 0 110px;
        .calculateSide {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        }   
        .aboutUsSide {
            padding-top: 50px;
        }
        .guaranteeSide {
            padding-top: 100px;
        }
        .revieweSide {
            padding-top: 50px;
        }
    }

}