
.buttons {
    background: #8B5CF6;
    width: 300px;
    height: 44px;
    gap: 4px;
    border-radius: 6px;
    border: none;
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
    justify-content: center
}

.buttonDisabled {
    background: #C4B5F5;
    width: 300px;
    height: 44px;
    gap: 4px;
    border-radius: 6px;
    border: none;
    display: flex;
    cursor: no-drop;
    color: white;
    align-items: center;
    justify-content: center
}