
.buttons {
    margin-right: 50px;
    background: #8B5CF6;
    width: 200px;
    height: 44px;
    gap: 4px;
    border-radius: 6px;
    border: none;
    display: flex;
    cursor: pointer;
    color: white;
    align-items: center;
    justify-content: center
}

