.aboutUsContent {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 1536px;
    height: 392px;
    gap: 24px;
    
    .block {
        display: flex;
        max-width: 27%;
        width: 496px;
        height: 184px;
        gap: 12px;
        padding: 24px;
    }
}