.header {
    position: fixed;
    width: 100%;
    background-color: #F9FAFB;
    display: flex;
    justify-content: space-between;
    padding: 10px 0 0 0;
    .leftSide {
        text-align: left;
    }
    .rightSide {
        display: flex;
        align-items: flex-start;
        text-align: right;
    }
    .buttonsStyle{
        display: flex;
        flex-direction: column;
        gap: 30px;
    }
       
        
    
}