




.exchangeRate {
    padding-top: 22px;
    padding-right: 75px;
    .vector {
        border-right: 2px solid #A78BFA;
        padding-right: 75px;
        .exchangeRateText{
            font-family: "Formular";
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            letter-spacing: 0%;
            vertical-align: bottom;
            color: #111827;

        }
        .separator {
            margin: 0 10px;
            color: #6c757d;
            font-weight: 300;
            }
    }
}