.footer{
    
    height: 100px;
    gap: 24px;
    padding-top: 40px;
    padding-right: 192px;
    padding-bottom: 40px;
    padding-left: 192px;
    background: #111827;

    .content {
        display: flex;
        flex-direction: row;
        gap: 250px;
        justify-items: center;
        font-family: Formular;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;
        vertical-align: bottom;
        color: #F9FAFB;

    }
    .text {
        padding-top: 20px;
        font-family: Formular;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0%;
        color: #4B5563;

    }
}