
@import './styles/fonts';

body {
  font-family: 'Formular', sans-serif;
}
.App{
  display: flex;
  flex-direction: column;
  .mainBody{
    margin-top: 50px;
    width: 100%;
    width: 1536;
    height: 2967;
    gap: 72px;
  }

}
body{
  background-color:#E5E7EB;
}