.logo { 
    display: flex;
    align-items: center;
    padding-left: 50px;
    
    .companyLogo{
        width: 50px;
        height: 70px;
    }
    .companyName{
        color: #111827;
        font-family: Formular;
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;
        vertical-align: bottom;
    }
}