.logo { 
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    .companyLogo{
        width: 50px;
        height: 70px;
    }
    .companyName{
        
        font-family: "Formular";
        font-weight: 900;
        font-size: 24px;
        line-height: 32px;
        letter-spacing: 0%;
        vertical-align: bottom;
    }
}